backend:
  name: github
  repo: brian-guerrero/augie-catholic

media_folder: static/assets
public_folder: assets

collections:
  - name: "pages"
    label: "Pages"
    files:
    - file: "src/pages/about/index.md"
      label: "About"
      name: "about"
      fields:
          - {label: "Template", name: "template", widget: "hidden", default: "page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
    - file: "src/pages/services/index.md"
      label: "Services"
      name: "services"
      fields:
          - {label: "Template", name: "template", widget: "hidden", default: "page"}
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Body", name: "body", widget: "markdown"}
