@charset 'utf8';

// Initial Styles
$black: #3b3b3b;
$white: #ffffff;
$blue: #29388f;
$blue-lighter: lighten($blue, 8%);
$blue-lightest: lighten($blue, 16%);
$yellow: #f5ee31;
$grey-light: #f1f0f0;

$primary: $blue;
$body-background-color: $grey-light;
$body-size: 18px;
$text: $black;
$title-color: $primary;
$subtitle-color: $blue-lighter;
$border: $yellow;
$family-sans-serif: 'Source Sans Pro', sans-serif;

$link-hover: $blue-lightest;

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-family: 'Source Serif Pro', serif;
}

$navbar-height: 6.25rem;
$navbar-item-img-max-height: 4rem;
$navbar-item-hover-background-color: $grey-light;
$hr-background-color: $primary;
$section-padding: 2rem 1.5rem;
$content-heading-color: $primary;
$blockquote-background-color: $white;
$footer-background-color: $black;
$carousel-title-background: rgba($white, 0.9);
$carousel-nav-color: $blue-lighter;

a .subtitle {
  text-decoration: underline;
  &:hover {
    color: $blue-lightest;
  }
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.content {
  blockquote {
    text-align: center;
  }
}

// Imports
@import '~bulma';
@import '~bulma-carousel/dist/css/bulma-carousel';

.carousel .carousel-container .carousel-item .title {
  color: $blue-lighter;
  font-size: 1.1rem;
  padding: 1.25rem;
  font-weight: bolder;
}

.carousel-nav {
  &-left,
  &-right {
    color: $blue-lightest;
    cursor: pointer;
  }
}

// Media Queries
@include mobile() {
  .section.for-tablet {
    padding: 0;
  }
}

.container.medium-width {
  max-width: 800px;
}

footer a {
  color: $grey-light;
  &:hover {
    color: $white;
  }
}
